body {
    margin: 0;
    padding: 0;
}

.banner-container {
    background-image: url('image/donation-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    text-align: center;
    padding: 200px 180px;
    background-color: rgb(31, 32, 36);
    opacity: 0.7;
}

.banner-title {
    color: white;
    font-size: 60px;
}

.paragraph1 {
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph2 {
    color: white;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}


.donate-btn {
    background-color: #e67476;
    color: rgb(253, 253, 253);
    padding: 20px 35px;
    cursor: pointer;
    border-color: #1e1c1c;
    margin-top: 50px;
    font-size: 20px;
}

.donate-section {
    margin-top: 80px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 50px;
    font-size: x-large;
}

.donate-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.amount {
    background-color: rgba(227, 233, 209, 0.524);
    padding: 10px 20px;
    margin-right: 35px;
}

.amount.selected {
    border-color: #FF5959;
    border-style: solid;
    border-width: 2px;
}

.amount.selected h1 {
    color: #FF5959;
    border-color: #FF5959;
}

.custom-amount {
    padding: 8px;
    width: 600px;
    text-align: center;
    border-style: none;
    border-bottom: 2px solid #ddd;
    font-size: 22px;
}

.donate-process {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.paragraph3 {
    color: white;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.item {
    text-align: left;
    cursor: pointer;
    padding: 30px 20px;
    background: rgba(49, 205, 219, 0.1);
    border-radius: 5px;
    margin-right: 20px;
}

.item2 {
    text-align: left;
    cursor: pointer;
    background: rgba(217, 245, 7, 0.1);
    border-radius: 5px;
    padding: 30px 20px;
    margin-right: 20px;
}

.item3 {
    text-align: left;
    cursor: pointer;
    background: rgb(237, 193, 247);
    border-radius: 5px;
    padding: 30px 20px;

}

.Blog-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 100px;
}

.blog-content {
    width: 50%;
}

.text-content {
    font-size: 22px;
}

.newsletter-section {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.newsletter-section p {
    font-size: 20px;
    padding: 0 280px;
}

.input_div {
    background: rgb(236, 236, 211);
    margin: 20px 300px;
    padding: 50px 20px;
    border-radius: 10px;
}

.input_email {
    padding: 25px 35px;
    width: 350px;
    border: 0px solid #fff;
    background-color: #ddd;
}

.footer {
    background-color: #0B0D17;
    text-align: center;
}

.footer h2 {
    color: #FF5959;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.footer p {
    color: white;
    text-align: center;
    padding-bottom: 15px;

}